@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");

.font-handwriting {
	font-family: "Dancing Script", cursive, "Brush Script MT",
		"Lucida Handwriting", serif;
}
